<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Funerágua | O Velório da Água</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
<div id="wrap">
    
<header class="masthead">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1><a href="#" title="Bootstrap Template">O Velório da Água</a>
                <p class="lead">A água se foi :(</p></h1>
        </div>
    </div>
    </div>
    <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-justified">
                    <li><a href="#section1">Sobre</a></li>
                    <li><a href="#section2">Próximos Eventos</a></li>
                    <li><a href="#section3">Denuncie!</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
    

<div class="divider" id="section1"></div>
<section>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header">
                <h1>Sobre</h1>
            </div>
            
            <p class="lead">Tem um vizinho lavando o quintal? Está vendo alguém gastando água? Vamos fazer um velório!</p>
            <p class="lead">O velório da água é uma iniciativa que reúnes pessoas que não suportam o disperdício de água. Se você vir alguém gastand água, deuncie! Cada denuncia se transforma em um evento de funeral. Muitas pessoas vestidas de preto aparecerão para velar a água que se foi :(</p>
            <p class="lead"><a href="http://especiais.g1.globo.com/economia/crise-da-agua/nivel-dos-reservatorios/" target="_blank">Acompanhe o nível dos reservatórios</a>
            </p>
        </div>
    </div>
</section>
        
<div class="divider" id="section2"></div>
    
<section class="bg-1">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header">
                <h1>Próximos Eventos</h1>
            </div>
            <div class="events-container">
                <div class="event-card">
                    <h2>Nome do gastador de água</h2>
                    <p>Data: 26/08/1994 20:54:00</p>
                    <p>Endereço: Rua xyz, 1234 - São Paulo</p>
                    <p>Descrição: Uma descrição de loreum ipsum fíctícia</p>
                </div>
                <div class="event-card">
                    <h2>Nome do gastador de água</h2>
                    <p>Data: 26/08/1994 20:54:00</p>
                    <p>Endereço: Rua xyz, 1234 - São Paulo</p>
                    <p>Descrição: Uma descrição de loreum ipsum fíctícia</p>
                </div>
                <div class="event-card">
                    <h2>Nome do gastador de água</h2>
                    <p>Data: 26/08/1994 20:54:00</p>
                    <p>Endereço: Rua xyz, 1234 - São Paulo</p>
                    <p>Descrição: Uma descrição de loreum ipsum fíctícia</p>
                </div>
                <div class="event-card">
                    <h2>Nome do gastador de água</h2>
                    <p>Data: 26/08/1994 20:54:00</p>
                    <p>Endereço: Rua xyz, 1234 - São Paulo</p>
                    <p>Descrição: Uma descrição de loreum ipsum fíctícia</p>
                </div>
                <div class="event-card">
                    <h2>Nome do gastador de água</h2>
                    <p>Data: 26/08/1994 20:54:00</p>
                    <p>Endereço: Rua xyz, 1234 - São Paulo</p>
                    <p>Descrição: Uma descrição de loreum ipsum fíctícia</p>
                </div>
            </div>
        </div>
    </div>
</section>
    
<div class="divider" id="section3"></div>
     
<div class="container" id="section3">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header">
                <h1>Denuncie!</h1>
				</div>
				
				<form>
			<br>
			<p class="lead">
				Nome do infrator:<br></P>
								<input type="text" name="nome" required size=50 class="lead"><br>
				
					<p class="lead">
					Endereço da ocorrência:<br><p>
					<input type="text" name="endereco" required size=50 class="lead"><br>
				
					<p class="lead">
					Data da ocorrência:<br> <p>
					<input type="text" name="data_ocorrencia" required size=20 class="lead"><br>
					
					<p class="lead">
					Hora da ocorrência:<br></P>
					<input type="text" name="hora_ocorrencia" required size=20 class="lead"><br>
				
							<p class="lead">
							Descrição da ocorrência:<br><p>
						<textarea name="descricao_ocorrencia" rows="10" cols="77">
						</textarea>
						<br>
						<br>
								
						 <input type="submit" value="Enviar denúncia!" class="lead"> 
						 


</form> 
</P>
				
				
				
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">This Bootstrap Example courtesy <a href="http://www.bootply.com">Bootply.com</a></p>
    </div>
</div>
    <!-- script references 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
        <script src="js/scripts.js"></script>
        -->
    </body>
</html>