<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Denúncias sendo criadas ao redor do globo:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="denunciation in awesomeDenunciations">
                <li><a href="#" tooltip="{{denunciation.info}}">{{denunciation.name}}<button type="button" class="close" ng-click="deleteDenunciation(denunciation)">&times;</button></a></li>
            </ul>
        </div>
    </div>
    <form class="denunciation-form">
        <label>Crie uma Denúncia Abaixo:</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new denunciation here." ng-model="newDenunciation">
            <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addDenunciation()">Adicione uma nova denúncia</button>
      </span>
        </p>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <p>Velório da Água |
            <a href="https://sjcdigital.com">@SJCDigital</a> |
            <a href="https://github.com/transparenciasjc/velorio-da-agua/">Github do Projeto</a></p>
    </div>
</footer>